# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Local SQLite DB
local.db
*.db